html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

header {
  color: #FFF;
}
header h1 {
  font-family: "Barlow", sans-serif;
  font-size: 4.3rem;
  line-height: 63.7px;
  letter-spacing: 0.8px;
  font-weight: 400;
}
header nav {
  font-family: "Barlow", sans-serif;
  line-height: 29px;
  font-weight: 700;
}
header p {
  font-family: "Offside", cursive;
  line-height: 20px;
}

.about {
  background-color: #D6F1E4;
}
.about h2 {
  font-family: "Offside", cursive;
  font-size: 2.6rem;
  font-weight: 400;
  color: #116500;
}
.about p {
  font-family: "Barlow", sans-serif;
  color: #2C2D2C;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.about button {
  font-family: "Offside", cursive;
  background-color: #116500;
  color: #FFFFFF;
  line-height: 29px;
  padding: 10px;
}

.spotlight {
  background-color: #213C28;
  color: #FFFFFF;
}
.spotlight h2 {
  font-family: "Offside", cursive;
  font-size: 2.6rem;
  font-weight: 400;
  color: #FFFFFF;
}
.spotlight p {
  font-family: "Barlow", sans-serif;
  color: #FFFFFF;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.spotlight button {
  font-family: "Offside", cursive;
  background-color: #FFFFFF;
  color: #116500;
  line-height: 29px;
  padding: 10px;
}

.Links {
  background-color: #D6F1E4;
}
.Links p {
  font-family: "Offside", cursive;
  color: #116500;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.contact {
  background-color: #213C28;
}

form {
  color: #FFFFFF;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
form button {
  color: #FFFFFF;
  background-color: #2C2D2C;
  font-family: "Offside", cursive;
  line-height: 29px;
}

nav {
  color: #FFFFFF;
  font-family: "Offside", cursive;
}

.info {
  color: #FFFFFF;
  font-family: "Barlow", sans-serif;
}

h3 {
  font-family: "Offside", cursive;
  font-weight: 400;
}

footer {
  color: #FFFFFF;
  background-color: #2C2D2C;
}
footer p {
  font-family: "Barlow", sans-serif;
}

header {
  background-size: cover;
  height: 100vh;
}
header ul {
  display: flex;
}
header ul li {
  margin-left: 50px;
}
header .flexContainerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .flexContainerNav span {
  display: block;
}
header .flexContainerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .flexContainerTitle span {
  display: block;
}
header .flexContainerTitle .flexContainerIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header .flexContainerTitle .flexContainerIcons i {
  margin-top: 10px;
  font-size: 20px;
}

section {
  padding: 100px 0;
}

.about h2:first-of-type {
  text-align: center;
}
.about ul {
  display: flex;
}
.about ul li {
  margin-right: 20px;
  margin-bottom: 60px;
}
.about .flexContainerAbout {
  display: flex;
  flex-direction: row-reverse;
}
.about .flexContainerAbout h2 {
  margin-top: 0;
  text-align: left;
}
.about .flexContainerAbout .imageContainer1 {
  width: 20%;
}
.about .flexContainerAbout .textContainer1 {
  width: 80%;
  margin-left: 40px;
}

.spotlight {
  padding: 0;
}
.spotlight .flexContainerSpotlight1 {
  display: flex;
  text-align: left;
}
.spotlight .flexContainerSpotlight1 .textContainer2,
.spotlight .flexContainerSpotlight1 .imgContainer2 {
  flex-basis: fit-content;
}
.spotlight .flexContainerSpotlight2 {
  display: flex;
  text-align: left;
  flex-direction: row-reverse;
}
.spotlight .flexContainerSpotlight2 .textContainer3,
.spotlight .flexContainerSpotlight2 .imgContainer3 {
  flex-basis: fit-content;
}

.Links .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Links .wrapper .box1,
.Links .wrapper .box2,
.Links .wrapper .box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: space-between;
}
.contact .flexContainerForm {
  display: flex;
  flex-direction: column;
}
.contact .flexContainerForm label {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact .flexContainerForm2 {
  display: flex;
}
.contact .flexContainerForm2 input {
  width: 100%;
}
.contact .info {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.contact .info p {
  margin-top: 0;
}
.contact nav {
  text-align: right;
  margin-top: 20px;
}
.contact nav li {
  margin-top: 10px;
}

footer {
  text-align: center;
}
footer p {
  margin: 0 auto;
  padding: 5px;
}

@media (max-width: 768px) {
  header {
    background-size: cover;
    background-position: center;
  }
  .about ul {
    flex-direction: column;
  }
  .about .flexContainerAbout {
    flex-direction: column;
    align-content: center;
  }
  .about .flexContainerAbout img {
    display: none;
  }
  .spotlight .flexContainerSpotlight1 {
    display: flex;
  }
  .Links .wrapper {
    flex-direction: column;
  }
  .Links .wrapper .box1,
.Links .wrapper .box2,
.Links .wrapper .box3 {
    margin: 20px;
  }
  .contact {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
  }
  .contact form {
    text-align: center;
    flex-direction: column;
  }
  .contact form .flexContainerForm2 {
    display: block;
  }
  .contact form .flexContainerForm2 button {
    margin: 10px;
  }
  .contact nav {
    position: relative;
    bottom: 200px;
  }
}/*# sourceMappingURL=style.css.map */